.number{

	position: relative;

	&.input{
		width: max-content;
		min-width: max-content;
		align-items: stretch;
		padding: 0px;
	}
	& input{
		flex-basis: auto;
		text-align: center;
		padding: 5px 0px 3px;
	}

	& .input-tool{
		padding: 2px 6px 1px 6px;
		align-items: center;
	}
	& .input-left{
		border-radius: inherit;
		padding: 0px;		
	}
	& .input-right{
		border-radius: inherit;
		padding: 0px;
	}
	& .input-left > .input-tool{
		border-radius: inherit;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;		
	}
	& .input-right > .input-tool{
		border-radius: inherit;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}

}