@import "../../../../assets/styles/preset";

.typography{
	font-family: $fonts;
	font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.85);
    overflow-wrap: break-word;
	line-height: 1.56;
}