@import "../../../assets/styles/functions.scss";

.autocomplete{
	position: relative;
	display: inline-block;
	align-self: flex-start;
	user-select: none;
	white-space: nowrap;

	&-shadowfix{
		left: 0px;
		right: 0px;
		display: block;
		position: absolute;
		background: white;
		z-index: 3;
		bottom: 0px;
		height: 7px;
		display: none;
	}
	&-shadowfix-hidden{
		display: none;
	}
	&-suggestions{
		border: 0px solid;
		position: absolute;
		padding: 4px 4px;
		background: #ffffff;
		width: 100%;
		overflow-y: auto;
		box-sizing: border-box;
		box-shadow: 0px 14px 20px -14px #0000005c;
		transition: all 240ms;
		max-height: 200px;
		min-width: 240px;
		border-radius: 0px 0px 4px 4px;
		border-color: transparent;
		//border-top: 1px solid #f9f9f9;
		z-index: 2;
		display: none;
		background-color: mix( var( --element-bg ), var( --element-accent ), 0% );
		color: mix( var( --element-text ), var( --element-accent ), calc(50% * var(--element-text-multi-text)), 100% );
	}
	&-expanded > &-suggestions{
		display: flex;
		flex-direction: column;
	}

	&-item{
		position: relative;
		transition: all 240ms;
		border-radius: 4px;
		align-items: baseline;
		white-space: nowrap;
		padding: 5px 9px;
		cursor: pointer;		
	}	
	&-item .icon{
		color: mix( var( --element-text ), var( --element-accent ), calc(50% * var(--element-text-multi-text)), 100% );
		margin-right: 8px;
	}

	&-hovered{
		background-color: inherit;
	}	
	&-selected{
		background-color: mix( var( --element-bg ), var( --element-accent ), calc(5% * var(--element-text-multi-sub)) );
	}
	&-selected.autocomplete-hovered{
		//background-color: #f2f6ff;
	}	

	&-expanded > &-suggestions &-item{
		opacity: 1;
	}

	&-value{

		&-length{
			margin: 0px 4px;
			padding: 3px 5px 2px;
			border-radius: 4px;
			//background-color: #3f376b;
			background-color: mix( var( --element-bg ), var( --element-accent ), calc(10% * var(--element-text-multi-sub)) );
		}

	}
	&-selected &-value-length{
		background-color: mix( var( --element-bg ), var( --element-accent ), calc(15% * var(--element-text-multi-sub)) );
	}	

	&-stretch{
		width: 100%;
	}	
	&-row &-suggestions{
		flex-direction: row;
		scroll-behavior: smooth;
	}
	&-stretch &-suggestions{
		width: 100%;
		max-width: 100%;
	}

}

.autocomplete > .input-focus{
	border-color: transparent;
}
.autocomplete-expanded > .input{
	border-radius: 4px 4px 0px 0px;
	box-shadow: 0px 5px 20px -1px #00000045;
	border-color: transparent;
}

.autocomplete-larger > .autocomplete-suggestions{
	border-radius: 0px 0px 8px 8px;
}
.autocomplete-larger.autocomplete-expanded > .input{
    border-radius: 8px 8px 0px 0px;
}


.autocomplete-scrollLeft, .autocomplete-scrollRight{
	opacity: 0.5;
	pointer-events: none;
	width: 20px;
	top: 0px;
	bottom: 0px;
	position: absolute;
	display: none;
	z-index: 3;
	background-color: red;
}
.autocomplete-scrollRight{
	right: 0px;
}