.card{
	padding: 0px;
	margin: 0px;
    box-sizing: border-box;
    list-style: none;
    position: relative;
    border-radius: 2px;
    background: #fff;
	border: 1px solid #f0f0f0;
	margin: 16px;

	&-header{
		padding: 18px;
	}	
	&-body{
		padding: 18px;
	}

}
.card-borderless{
	border: 1px solid transparent;
}