.tooltip{
	position: fixed;
	padding: 4px 8px;
	opacity: 0;
	border-radius: 4px;
	max-height: 0;
	max-width: 256px;
	transition: all .2s 0.05s ease-in-out, left 0s, top 0s, height 0s;//, padding 0s;
	transform: scale(0.7);
	background: #424242;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);

	&-arrow{
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-top: 7px solid #424242;
		position: absolute;
		bottom: -7px;
		left: 50%;
		margin-left: -7px;
		transition: all .2s 0.05s ease-in-out;
	};

}
.tooltip-active{
	transform: scale(1.0);
	max-height: 99999px;
	opacity: 1;
}
.tooltip-hidden{
	padding: 0px;
}
.tooltip-hidden .tooltip-arrow{
	transform: scaleY(0.0);
}
.tooltip > div{
	transition: all .2s;
	max-height: 0;
	overflow: hidden;
}
.tooltip-active > div{
	max-height: 99999px;
};
.tooltip > div > .typography{
	color: #f4f4f4;
}