@import "../../../assets/styles/functions.scss";

.divider{
	display: flex;
	margin: 16px 0;
	font-weight: 500;
	font-size: 16px;
	white-space: nowrap;
	text-align: center;
	border-top: 0;
	border-top-color: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 13% );
	color: mix( var( --element-text ), var( --element-accent ), calc(50% * var(--element-text-multi-text)), 100% );
}
.divider > div{
	padding: 0px 18px;
}
.divider:before, .divider:after{
	position: relative;
	top: 50%;
	width: 50%;
	border-top: 1px solid transparent;
	border-top-color: inherit;
	border-bottom: 0;
	transform: translateY(50%);
	content: '';
}
.divider:before{
	top: 50%;
	width: 5%;
}
.divider:after{
	top: 50%;
	width: 95%;
}