@import "../../../assets/styles/functions.scss";

.modal{
	position: fixed;
	opacity: 0;
	border-radius: 4px;
	max-height: 0;
	//max-width: 256px;
	transition: all 240ms 0.05s ease-in-out, left 0s, top 0s, height 0s;
	transform: scale(0.7);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);
	z-index: 21;
	top: 0px;
	left: 0px;
	//background-color: mix( var( --element-bg ), var( --element-accent ), 5% );
	color: mix( var( --element-text-flat ), var( --element-accent ), calc(7.5% * var(--element-text-multi-text)), 100% );
	background: var(--gloss);
	background-color: var(--bg);	
}

.modal-active{
	transform: scale(1.0);
	max-height: 99999px;
	opacity: 1;
}

.modal > *{
	transition: all .2s;
	max-height: 0;
	overflow: hidden;
}

.modal-active > *{
	max-height: 99999px;
}

.modal-content{
    padding: 13px 13px;
}