.typography-editable{
	position: relative;
}
.typography-editable > div:first-child{
	position: relative;
	padding: 0px;
	display: inline-block;
    white-space: pre-wrap;
	margin-right: 6px;
}
.typography-editable > .icon{
	top: -4px;
};
.typography-editable > textarea{
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0px;
	resize: none;
	padding: 3px 11px 3px 11px;
	margin: -4px -12px -9px -12px;
	box-sizing: border-box;
	list-style: none;
	display: inline-block;
	width: 100%;
	min-width: 0;
	color: #000000d9;
	font-size: 14px;
	line-height: 1.56;
	background-color: #fff;
	background-image: none;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	overflow: hidden;
	transition: all .3s, height 0s;
}
.typography-editable > textarea:focus{
	border-color: #40a9ff;
	box-shadow: 0 0 0 2px #40a9ff;
	border-right-width: 1px!important;
	outline: 0;
}