@import "../../../assets/styles/functions.scss";

.list{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
	padding-left: 0px;
    border-right: 0px;
	padding-top: 8px;
    color: mix( var( --element-text-flat ), var( --element-accent ), calc(7.5% * var(--element-text-multi-text)), 70% );
}
.list-item{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	z-index: 0;

	&-title{
		//background-color: #fff;
		border-right: 2px solid transparent;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		cursor: pointer;
		background: transparent;
		border: 1px solid transparent;
		align-items: baseline;		
	}
	&-children{
		position: relative;
		overflow: hidden;
		transition: all 0.15s ease-in-out;
	}
	&-title > .icon{
		margin-right: 10px;
		margin-left: 6px;
	}
	&-title > .icon:last-child{
		margin-left: auto;
		display: none;
		align-self: center;
	}
	&-expandable > &-title > .icon:last-child{
		display: block;
	}	
	&-title:hover{
		color: mix( var( --element-text ), var( --element-accent ), calc(50% * var(--element-text-multi-text)), 100% ) !important;
	}
	&-chain > &-title{
		color: mix( var( --element-text ), var( --element-accent ), calc(50% * var(--element-text-multi-text)), 100% ) !important;
	}
	&-selected > &-title{
		color: mix( var( --element-text ), var( --element-accent ), calc(50% * var(--element-text-multi-text)), 100% ) !important;
		background-color: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 13% ) !important;
		border-right: 2px solid mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-sub)), 40% ) !important;
	}

	&-content > &-title{
		cursor: default !important;
		color: inherit !important;
		background-color: inherit !important;
		border-right: 2px solid transparent !important;		
	}	
	&-content > &-title:hover{
		color: inherit;
	}

}