@import "../../../assets/styles/functions.scss";

.multiselect{
	min-width: 240px;
    position: relative;
    width: fit-content;
	box-sizing: border-box;

	&-header{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		border: none;
		background-color: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 13% );
		border-radius: 4px;
		transition: none;		

		&-tags{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;	
			min-height: 30px;			
		}
		&-item{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			background-color: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 10% );
			color: mix( var( --element-text ), var( --element-accent ), calc(50% * var(--element-text-multi-text)), 100% );
			border-radius: 3px;
			padding: 2px 4px 2px 6px;
			margin: 4px 0px 4px 4px;			

			& .icon{
				margin-right: 3px;
				top: -1px;
				position: relative;
			}
			& .typography{
				line-height: 1.4;
			}		
			&-remove{
				margin-left: 2px;
				font-weight: bold;
				position: relative;
				cursor: pointer;
				transition: all 0.15s ease-in-out;
				top: 0px;
				padding: 0px 4px 2px 4px;

				&:hover{
					background-color: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 15% );
				}

			}	

		}
		&-input{
			border: 0px;
			padding: 3px 4px 5px 8px;
			border-radius: 0px;
			outline: none;
			box-sizing: border-box;
			background: transparent;
			flex: 1;
			width: 60px;
			min-width: 60px;
			color: mix( var( --element-text ), var( --element-accent ), calc(50% * var(--element-text-multi-text)), 100% );
			min-height: 32px;			
		}
		&-input::placeholder{
			color: mix( var( --element-text ), var( --element-text-flat ), calc(80% * var(--element-text-multi-text)), 50% );
		}	

		&-active{
			border-radius: 4px 4px 0px 0px;
		}

	}	
	
	&-suggestions{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		position: absolute;
		padding: 4px 4px;
		width: 100%;
		overflow-y: auto;
		box-sizing: border-box;
		box-shadow: 0px 14px 20px -14px #0000005c;
		transition: all 240ms;
		max-height: 200px;
		border-radius: 0px 0px 4px 4px;
		border-color: transparent;
		z-index: 2;
		display: none;
		background-color: mix( var( --element-bg ), var( --element-accent ), 0% );
		color: mix( var( --element-text ), var( --element-accent ), calc(50% * var(--element-text-multi-text)), 100% );
	
		&-expanded{
			display: flex;
		}

		&-item{
			padding: 3px 7px 4px;
			position: relative;
			border-radius: 4px;
			display: flex;
			align-items: baseline;
			transition: all 0.15s ease-in-out;
			cursor: pointer;

			&-checkbox{
				box-sizing: border-box;
				width: 18px;
				height: 18px;
				position: relative;
				border: 1px solid;
				display: inline-block;
				top: 3px;
				color: transparent;
				font-family: icomoon;
				font-style: normal;
				line-height: 1.0;
				text-align: center;
				text-transform: none;
				text-rendering: optimizeLegibility;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				font-size: 16px;	
				border-color: mix( var( --element-bg ), var( --element-accent ), calc(14% * var(--element-text-multi-main)), 15% );
				margin-right: 8px;
			}
			&-checkbox:before{
				content: "\ea10";
				width: 12px;
				height: 12px;
				position: absolute;
				color: inherit;
				left: 2px;
				top: 3px;
				font-size: 11px;
			}	

			& .typography{
				flex-grow: 10;
			}			
			& input{
				width: 64px;
				position: relative;
				padding: 1px 7px;
				border-radius: 2px;
			}		
			& input:focus{
				outline: none;
			}

		}
		&-item-selected > &-item-checkbox{
			background-color: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 15% );
			color: mix( var( --element-text ), var( --element-accent ), calc(60% * var(--element-text-multi-main)), 100% );
		}					
		&-item:hover{
			//background-color: #f4f4f4;
		}
		&-item-focused{
			background-color: mix( var( --element-bg ), var( --element-accent ), calc(5% * var(--element-text-multi-sub)) );
		}		
		&-item .icon{
			//color: $icons-accent;
			padding-right: 4px;
		}		
		&-selected{
			//background-color: #f4f4f4;
		}

	}

}