@import "../../../assets/styles/functions.scss";

.select{

	position: relative;
	line-height: 1;
	white-space: nowrap;

	& .input{
		width: 100%;
		height: 100%;
		position: absolute;
		padding: 0px;
		top: 0px;
		left: 0px;
		opacity: 0;
		z-index: 1;
		transition: all 240ms;
		overflow: hidden;
		border: none;
		background-color: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 13% );
		color: mix( var( --element-text ), var( --element-accent ), calc(50% * var(--element-text-multi-text)), 100% );
		outline: none;		
	}
	.select-overlay{
		position: relative;
		padding: 7px 9px;
		top: 0px;
		left: 0px;
		opacity: 1;
		border: 0;
		z-index: 0;
	}
	.select-overlay.input{
		opacity: 1;
		justify-content: space-between;
	}
	.select-overlay .icon{
		color: inherit;
	}	
	& input{
		cursor: default;
	}
	& .input-left{
		display: none;
	}		
	& .input-right{
		display: none;
	}
	& .autocomplete-suggestions{
		//min-width: 240px;
		//max-width: max-content;
	}
	& .autocomplete-item{
		white-space: nowrap;
	}

	.select-overlay .icon{
		margin: 0px 4px;
	}

	& .input-span{
		background-color: transparent;
	}
	.select-inactive{
		border-color: transparent;
		box-shadow: 0 0 0px 0px transparent;
		background-color: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 4% );
		user-select: text;

		& > .icon{
			display: none;
		}

	}
	
}

.autocomplete-expanded .select-overlay .icon{
	//color: #1890ff;
}
.select.autocomplete-stretch .autocomplete-suggestions{
	width: 100%;
	max-width: 100%;
}
.autocomplete-headerless .autocomplete-suggestions{
	z-index: 0;
    position: relative;
    height: auto !important;
    display: flex !important;
	border-radius: 4px;
	box-shadow: none;
	background-color: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 13% );
	color: mix( var( --element-text ), var( --element-accent ), calc(50% * var(--element-text-multi-text)), 100% );
}
.autocomplete-headerless .autocomplete-hovered{
	background-color: transparent;
}
.autocomplete-headerless .autocomplete-selected{
	background-color: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 10% );
}
.autocomplete-headerless .input{
    display: none;
}

.autocomplete-row *::-webkit-scrollbar-track{
	//background: radial-gradient(100% 121.87% at 0% 100%, rgba(255, 255, 255, 0.03) 0%, rgba(3, 0, 20, 0) 100%);
}

.autocomplete-row *::-webkit-scrollbar{
	width: 8px;
	height: 5px;
	background: transparent;
}

.autocomplete-row *::-webkit-scrollbar-thumb{
	background-color: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 10% );
	border-radius: inherit;
}
.autocomplete-row > .autocomplete-scrollLeft, .autocomplete-row > .autocomplete-scrollRight{
	//display: block;
}