@import "../../../assets/styles/functions.scss";

.toggle{
	position: relative;
    width: 40px;
    height: 21px;
    box-sizing: border-box;
	background: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 14% );
    border-radius: 4px;
    padding: 4px;
    flex-shrink: 0;
    transition: 160ms ease-in-out;
	user-select: none;
    cursor: pointer;

	&-active{
		position: relative;
		background: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 20% );
	}

	& > div{
		position: relative;
		background-color: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 14% );
		width: 50%;
		height: 100%;
		border-radius: 3px;
		left: 0%;
		transition: 160ms ease-in-out;		
	}
	&-active > div{
		position: relative;
		left: 50%;
		background: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 80% );
	}

}